* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  #container {
      min-height: 90vh;
      display: flex;
      float: right;
      padding: 50px;
      width: 95%;
      background-color: #fda706;
     
  }
  .left{
      width: 40vw;
      background-color: #fda706;;
      position: relative;
      margin: 0 auto;
      border:2px rgb(26, 20, 20);
      box-shadow: 1px 1px 11px 1px rgb(26, 20, 20);
      
  }
  .menu{
      display: flex;
      padding: 10px;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      margin-left: 0px;
      margin-right:0px;
      line-height: 50px;
      width: 100%;
      background-color: #fda706;  
      height: 100%; 
  } 
  
  .y{
      width: 80%;
      height: 100%;
      padding: 0;
      margin: 0;
      background: #fda706;
      border: 4px #333;
      
  }

.search-box{
    position: absolute;
    top: 2%;
    background: #2f3640 ;
    height: 40px;
    border-radius:40px;
    width: 75%;
    
    
}
 .search-btn{
    color: #fda706;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
 }
.search-txt{
    border: none;
    background: #2f3640;
    outline: none;
    float: center;
    padding-top: 7px;
    color:#fff;
    font-size: 16px;
    transition: 0.4s;
    line-height: 20px;
    width: 190px;
    margin-left: 19px;
    
}
.search-box :hover > .search-txt{
    width: 200;
    padding: 0 6px;
}
  .menu .x  {
      cursor: pointer;
      width: 20%;
      background-color: #fda706;
      height: 100%;
      margin-top: 5px;
      
      
  }
  
   .search-btn1{
        color: rgb(248, 212, 9);
        float: left;
        width: 40px;
        height: 40px;
        
        background: #2f3640;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 5px;
    }
    
  .menu .x :hover{
    background-color: azure;
}
  .right{
    width: 60vw;
    background-color: #fff;
    box-shadow: 1px 1px 11px 1px rgb(26, 20, 20)
}

 .middle-image{
     width: 25em;
     height: 30em;
     background-image: url(../images/2.jpeg);
     background-color: rgb(204, 196, 196);
     background-position:center;
     position: absolute;
     box-shadow:1px 1px 10px 1px rgb(126, 119, 119);
     top:50%;
     right: -14em;
     transform: translateY(-50%)
 }
 

 nav{
    float: right;
    padding: 30px;
    margin-right: 50px;
}
 nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    
}
 nav ul li{
    list-style: none;
    margin-right: 10px;  
}
 nav ul li a{
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    color: rgb(10, 10, 10);
    font-weight: 800;
    text-decoration: none;
    display: block;    
}
 nav ul li a:hover
{
    color: #fff;
    background: #fda706;
}
.menu-toggle{
    color: #fff;
    float: right;
    line-height: 50px;
    cursor: pointer;
    display: none; 
}
@media screen and (max-width:767.98px) {
    .menu-toggle{
        display: block;
    }
     nav
    {
       /* display: none;*/
         position: absolute;
         width: 100%;
         height: calc(100vh - 50px);
         background: #333;
         top: 50px;
         left: -100%;
         transition: 0.5s;
         font-size: 30px;
    }  
    nav.active{
        left: 0;
    }
    nav ul{
        display: block;
        text-align: center;
    }
     nav ul li a{
        border-bottom: 1px solid rgba(0,0,0, .2);
    }   
}
#fashion {
    min-height: 100vh;
    display: flex;
    float: right;
    padding: 1px 100px;
    width: 95%;
    background-color: #fff;
    float: right; 
}
#container .left1{
    position: relative;
    margin: 0 auto;
    width: 30vw; 
}
#fashion .right2{
  width: 70vw;
  background-color: #fff;
}
#fashion span{
    background-color: rgb(131, 130, 130);
    color: #fff;
    font-size: 22px;
    font-family: sans-serif;
}
#fashion p{
    color: rgb(128, 126, 125);
    font-size: 16;
}

#fashion .read-more p{
    color: black;
    font-weight: 800;

}
#fashion .read-more i{
    cursor: pointer;
}
#fashion .sub{
    padding-top: 160px;
}

#fashion .sub input[type="text"]{
  width: 280px;
  max-width: 100%;
  padding: 5px 5px;
  font-size: 18px;
  box-shadow: 0 0 5pt 0.5pt #D3D3D3;
  border: #fff;
}

#fashion input[type="submit"] {
    border: 1px #fff;
    outline: none;
    background-color: #fda706;
    color: black;
    font-size: 18px;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  #fashion input[type="submit"]:hover {
    -webkit-transition: .3s;
    transition: .3s;
    color: #fda706;
    background-color: rgb(58, 57, 57);
    
  }